* {margin: 0; padding: 0;}

body {
	background: rgba(8,3,37,.9);
	color: #fff;
}

#window {
	width: 300px;
	height: auto;
}

header {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}